#contact_modal {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 679px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.photograph-header h2 {
  font-weight: 400;
  font-size: 64px;
  color: #d3573c;
}
.photograph-header h3 {
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
}
.photograph-header h4 {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
}
.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  font-size: 20px;
  font-weight: 700;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button {
  transition: scale 0.2s, color 0.2s, background-color 0.1s ease-out;
}

.contact_button:hover {
  scale: 1.02;
  background-color: #db8876;
  color: black;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  max-width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}
form textarea {
  height: 170px;
}
.error-message {
  font-size: 18px;
  font-weight: 400;
}
[aria-invalid='true'] {
  outline: 2px solid red;
}
[aria-invalid='true'] ~ .error-message {
  opacity: 1;
  visibility: visible;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 40px;
}

.filter h3 {
  margin-right: 25px;
  margin-top: 20px;
}

.filter-choices {
  position: absolute;
  left: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #911c1c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  min-width: 150px;
  min-height: 40px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  animation: 0.5s;
  transition: scale 0.2s, background-color 0.1s ease-out;
}

.filter-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-icon {
  width: 20px;
  transform: rotate(180deg);
  filter: invert(100%) sepia(45%) saturate(2%) hue-rotate(273deg)
    brightness(116%) contrast(100%);
  transition: all 0.5s;
}
.filter-icon.open {
  transform: rotate(0deg);
}
.filter-choices-choice {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer;
  transform-origin: 50% 0;
  overflow: hidden;
  animation: 0.2s linear;
  animation-name: append-animate;
}

@keyframes append-animate {
  from {
    margin: 0;
    margin-left: 10px;
    font-size: 0;
  }
}

@keyframes disappear-animate {
  to {
    top: -100%;
    margin: 0;
    font-size: 0;
  }
}

.filter-choices-separation {
  background: #ffffff;
  width: 150px;
  height: 1px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 8%;
}
article {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 28%;
}

article img,
article video {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
article > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
article h5 {
  font-weight: 400;
  font-size: 24px;
  color: #911c1c;
}

.divLikes {
  display: flex;
  align-items: center;
}
.like {
  margin-left: 6px;
  height: 18.35px;
  width: 17.5px;
}
.stickyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50px;
  position: fixed;
  right: 36px;
  bottom: 0;
  background: #db8876;
  border-radius: 5px 5px 0 0;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
}
.stickyInfo img {
  height: 18;
  width: 17.5px;
}

.stickyInfoInside {
  display: flex;
  gap: 8px;
  padding-left: 35px;
  padding-right: 35px;
}
