@import url('photographer.css');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: 45px;
  margin-bottom: 40px;
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  align-items: flex-start;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}
.photographer_section article h3 {
  font-weight: 400;
  font-size: 13px;
  color: #901c1c;
}
.photographer_section article h4 {
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.photographer_section article h5 {
  font-weight: 400;
  font-size: 9px;
  color: #757575;
}
.photographer_section article a {
  text-decoration: none;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.lightBox {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.lightBox-top {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.lightBox-close {
  width: 42px;
}

.lightBox-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightBox-media {
  object-fit: cover;
  max-height: 50%;
  max-width: 70%;
}
.lightBox-video {
  display: none;
}
.lightBox-img {
  display: block;
}
.lightBox-direction {
  padding: 50px;
}
